/* General Styles */
body {
    font-family: Arial, sans-serif; /* Replace with your desired font */
    margin: 0;
    padding: 0;
    background-color: #f9f9f9; /* Background color */
    color: #333; /* Text color */
}

h1 {
    color: #444; /* Heading color */
    text-align: center;
    margin-top: 20px;
}

nav {
    display: flex;
    justify-content: center;
    background-color: #007bff; /* Navigation background color */
    padding: 10px 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

nav button {
    background-color: #fff; /* Button background color */
    border: none;
    color: #007bff; /* Button text color */
    font-size: 16px;
    padding: 10px 20px;
    margin: 0 5px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

nav button:hover {
    background-color: #0056b3; /* Hover background color */
    color: #fff; /* Hover text color */
}

.section {
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff; /* Form background color */
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

form {
    display: flex;
    flex-direction: column;
}

form input {
    font-size: 16px;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc; /* Input border color */
    border-radius: 5px;
}

form button {
    font-size: 16px;
    padding: 10px;
    background-color: #007bff; /* Submit button background color */
    color: #fff; /* Submit button text color */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

form button:hover {
    background-color: #0056b3; /* Submit button hover background color */
}

hr {
    border: 0;
    border-top: 1px solid #ddd;
    margin: 20px 0;
}

@media (max-width: 768px) {
    .section {
        width: 90%;
        margin: 10px auto;
    }

    nav {
        flex-direction: column;
        padding: 10px;
    }

    nav button {
        margin: 5px 0;
    }
}
